@import "bower_components/bootstrap/scss/bootstrap";
@import "bower_components/font-awesome/scss/font-awesome";

header.primary {
	margin-bottom: 2em;
}

.Terms_List
{
	.actions {
		opacity: 0;
		transition: 0.15s opacity linear;
	}
	.row {
		@extend .p-y;

		&:hover {
			background: rgba($alert-info-bg, 0.3) !important;
			.actions {
				opacity: 1;
			}
		}

		> [class^=col-md]:last-child {
			text-align: right;
		}

		+ .row {
			border-top: 1px dotted $gray-lighter;
		}
	}

	.actions .btn i {
		@extend .fa-fw;
	}

	.btn-edit {
		&:hover {
			@extend .btn-info;
		}
		&:hover i {
			@extend .fa-spin;
		}
	}
	.btn-delete {
		&:hover {
			@extend .btn-danger;
		}
	}

	form {
		margin-bottom: 0;
	}
}


body > footer {
	padding: 4rem 0;
	margin-top: 4rem;
	font-size: 85%;
	background-color: #f7f7f7;

	a {
		font-weight: 500;
		color: #55595c;
	}
}

modal {
	[slot] {
		display: none;
	}
}