<div style="display: none">
    <div id="{{id}}" class="modal" :class="{fade: fade, in: animateModal || !fade}" style="display: block" v-on:click="onClickOut($event)">
        <div class="modal-dialog modal-{{size}}" role="document" style="z-index: 9999">
            <div class="modal-content">
                <div class="modal-header">
                    <slot name="header"></slot>
                </div>
                <div class="modal-body">
                    <slot name="body"></slot>
                </div>
                <div class="modal-footer">
                    <slot name="footer"></slot>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop" :class="{fade: fade, in: animateBackdrop || !fade}"></div>
</div>